body { background-color: rgb(208, 234, 246) }
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  padding: 10px;
  width: 75%;
  height: 700px;
  background-color: #ffffff;
}
#notes {
  float: right;
  width: 20%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #ffffff;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}